.container{
    width: 100%;
    height: 100%;
    padding: 12px;
    position: relative;
}
.button{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    color: #fff;
    background-color: var(--active-button-primary-color);
    display: grid;
    place-content: center;
    border: none;
    outline: none;
    cursor: pointer;
    user-select: none;
}
.button svg {
    width: 64px;
    transform: rotate(-45deg);
    transition: transform .1s ;
    fill: #fff;
}
.button:hover svg, .menuContainer.visible ~ .button > svg {
    transform: rotate(0deg);
}
.menuContainer{
    width: 150%;
    position: absolute;
    bottom: calc(100% + 12px);
    border-radius: 8px;
    overflow: hidden;
    border-bottom: 1px solid #777;
    display: none;
}
.visible{
    display: block;
}
.menu{
    background-color: #777;
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.option{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px;
    gap: 8px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #444;
    &:hover{
        background-color: #555;
    }
}
.optionIcon{
    flex-grow: 1;
    fill: #fff;
}
.optionTitle{
    flex-basis: 75%;
    text-align: start;
    color: #fff;
}
.fileInput{
    display: none;
}