.layaout{
    margin-left: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: auto;
    height: 100%;
    overflow-x: auto;
    background-color: #25292c;
}
.allMessages{
    background-image: url('../../assets/chat-background.png');
    background-size: 100% 100%;
}