:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --active-button-primary-color:#639bdf;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
a{
  color: #000;
  text-decoration: none;
  &:visited, &:active, &:focus{
    color: inherit;
  }
}
svg{
  aspect-ratio: 1;
}